# Archivos binarios y objetos
*.o
*.obj
*.exe
*.out
*.a
*.so
*.txt

# Archivos de compilación / carpetas
build/
bin/
*.dSYM

# Archivos del editor
*.swp
*~
.vscode/
.idea/

# Archivos temporales
*.log